%td 
	=o.description
%td.text-center 
	.btn-group-lg{:role => "group#{o.id}", :aria-label=> "#{o.id}"}
		%button.btn.btn-default{:type => "button"}
			1
		%button.btn.btn-default{:type => "button"}
			2
		%button.btn.btn-default{:type => "button"}
			3
		%button.btn.btn-default{:type => "button", :autofocus=>"true"}
			4
