%p#notice= notice

%p
  %strong Description:
  = @objective.description 

%strong Students with this objective
%ul
  -@objective.students.each do |s|
    %li=s.name

= link_to 'Edit', edit_objective_path(@objective)
|
= link_to 'Back', objectives_path 
